/* body
{
    background-color: antiquewhite;
} */
.upper
{
    margin-bottom: 5;
}
table ,td ,th
{
    border: 1px solid black;
}
#sem
{
    margin-left: 10%;
}
#sec
{
    margin-left: 20%;
}
#year
{
    margin-left: 20%;
}